<!Doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
 <head>
  <meta charset="UTF-8"/>
  <title>This is home page</title>
 </head>
 <body>
    <section class="banner d-flex justify-content-center align-items-center">
    
    <div class="text-center">
    <h1 class="font-weight-bold">Smart Contact Manager</h1>
    <p  class="font-weight-bold">Start Collecting Your Contact In Very Smater Way. We Provide
    very Efficient And Smater Way of Handling Your Contact.</p>
    <button class="btn bg-primary btn-lg text-white">Get Start</button>
    </div>
    
    </section>
 </body>
</html>